language: java
jdk:
  - openjdk11

branches:
  only:
    - master

# Travis CI 서버의 H ome
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

# CI 실행 완료 시 메일로 알 람
notifications:
  email:
    recipients:
      - wodnrdlgla@gmail.com

before_install:
  - chmod +x gradlew

before_deploy:
  - zip -r springboot-aws *
  - mkdir -p deploy
  - mv springboot-aws.zip deploy/springboot-aws.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY

    bucket: springboot-study-s3
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true

  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY

    bucket: springboot-study-s3
    key: springboot-aws

    bundle_type: zip
    application: springboot-study
    deployment_group: springboot-study-group

    region: ap-northeast-2
    wait-until-deployed: true
