language: java
jdk:
  - openjdk11

branches:
  only:
    - feat/1

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

# CI 실행 완료 시 메일로 알 람
notifications:
  email:
    recipients:
      - wodnrdlgla@gmail.com